<launch>

 <!-- Turtlesim Node-->
  <node respawn="true" pkg="turtlesim" type="turtlesim_node" name="sim"/>
 
 <!-- rosserial -->
  <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serial_node">
  <param name="_port" type="string" value="/dev/ttyUSB0" />
  </node>


 <!-- joy node -->
  <node pkg="joy"
        type="joy_node" name="joy_node" required="true">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>



 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>

  <node pkg="joystick_control" type="jsc.py" name="Joy2Turtle"/>

</launch>